.shop-container{
    display: flex;
}
.products-container{
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid rgba(255, 99, 71, 0.445);
}

.input{
    width: 450px;
    height: 35px;
    margin-left: 85px;
    margin-bottom: 20px;
}